<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="text/html" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="IE=edge" content="X-UA-Compatible" />
        <meta name="description" content="Nick Russell - Software Engineer." />
        <meta name="author" content="Nick Russell" />
        <title>Nick Russell | Software Engineer</title>
        {% style "/assets/bulma/css/bulma.min.css" %}
        {% style "/assets/material-icons/css/material-icons.min.css" %}
        <script src="https://kit.fontawesome.com/ed9417a5f3.js" crossorigin="anonymous"></script>
        {% style "/css/screen.css" %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% block page-scripts %}
        {% endblock %}
    </body>
</html>
