{% extends "base.html" %}
{% block content %}
<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-head"></div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Nick Russell
            </h1>
            <h2 class="subtitle">
                <span class="icon">
                    <i class="fas fa-laptop-code" aria-hidden="true"></i>
                </span>
                Software Engineer
            </h2>
        </div>
    </div>

    <div class="hero-foot">
        <div class="tabs is-centered">
            <ul>
                <li>
                    <a href="https://github.com/nicholasrussell" target="_blank">
                        <span class="icon is-medium" aria-hidden="true">
                            <i class="fab fa-2x fa-github"></i>
                        </span>
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/nickfrussell/" target="_blank">
                        <span class="icon is-medium" aria-hidden="true">
                            <i class="fab fa-2x fa-linkedin"></i>
                        </span>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
